{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h1>{{trans.greet | upper}}</h1>
        <h3>Django is translating</h3>

    </div>

    <div class="container">
        {% for post in posts %}
            <div class="card w-75 mb-3">
                <div class="card-body">
                <h3 class="card-title">{{post.title}}</h3>
                <h5 class="card-title">{{post.created_at | timesince}} ago</h5>
                <p class="card-text">{{post.content}}</p>
                {% comment %} <a href="#" class="btn btn-primary">Button</a> {% endcomment %}
                </div>
            </div>

        {% endfor %}

        {{trace}}
    </div>
        

{% endblock content %}
    